body {
    font-family: "Merriweather", serif; 
       
  }
/* header styles */
.header{
    background-image: url('../resources/Banner\ Image.png');
    border-radius: 16px;
    margin-left: 100px;
    width: 1320px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.main-title{    
    color: rgb(255, 255, 255);
    width: 250px;
    height: 40px;
    font-size: 32px;
    font-weight: 400; 
    margin:20px;
    display:inline;
    justify-content: center;
    padding-left:250px;
    
    
}
.celebration{
    width: 632px;
    height: 190px;
    color: rgb(255, 255, 255);
    font-size: 72px;
    text-align: center;
    padding-left: 100px;}

/* offer section */
/* .title{
    
    Width: 802.9px;
    Height: 806px;
    justify-content: center;
    text-align: center;
    align-items: center;   
} */
.new-year{
    Width: 802.9px;
    Height: 806px;
    text-align: center;
    padding-left:400px ;
    padding-top: 50px;   
}    

.offer{
    display:inline;
    font-size: 88px;
    font-weight: 700px;
    color: rgb(255, 0, 0);
    Width: 383px;
    Height: 107px;
    padding:50px 150px 200px 200px;
}
.holiday-deals{
    color:rgb(255, 0, 0) ;
    font-weight: 500;
    font-size: 24px;
    height:29px;


}
.categories{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700px;
}
